@import "variables";

body {
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
}

.installation-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-size: cover;
  background: $color-primary;
}

.installation-overlay {
  height: 500px;
}

.installation-content {
  padding-top: 27px;
  text-align: center;
  color: $color-white;
  width: 50%;
  margin-left: 25%;

  @media (max-width: 1066px) {
    margin: 0;
    width: 100%;
  }

  p {
    color: $color-white;
  }
}

.method {
  margin-bottom: 50px;

  &:first-child {
    margin-top: 55px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
